

@{
    ViewBag.Title = "Index";
}


<div class="index_main_div">
    <div>Продолжить работу</div>
    <div>@Html.ActionLink("Начать заного", "Info_page", "Info")</div>

    <div>СООБЩЕНИЕ ПОЛЬЗОВАТЕЛЯ ДЛЯ ПОСЕТЕТЕЛЕЙ</div>
</div>




@section scripts{
    
    
    }