<div class="main_top_div">

    @if (ViewBag.action_name != "index")
    {

    
    <div class="div_inline_block div_search" id="div_search_id" onmouseout='hidden_search_block()' onmouseover='show_search_block()'>
        <div class="div_search_img div_inline_block" id='div_search_img_id' onclick="start_search()">
            <span class="span_top_menu_lupa"></span>
        </div>
        <div class="div_inline_block div_search_input_block">

           
                <input id="search_string_client" type="text">
                
        </div>
    </div>

    <div class="div_inline_block div_settings_block" id="div_settings_block_id">
        <div>
            <div class="div_inline_block"><div class="div_settings_left_b" onclick="show_left_menu()"></div></div>
            <div class="div_inline_block">
                <div class="div_settings_centre_b" onmouseup="click_on_centre_settings(false)" onmousedown="click_on_centre_settings(true)">
                </div>
            </div>
            <div class="div_inline_block">
                <div class="div_settings_right_b" onclick="hidden_left_menu()">
                </div>
            </div>
        </div>
        <div id="div_settings_bottom_b_ex">
            <div class="div_settings_bottom_b" onclick="show_top_menu()">

            </div>
        </div>
    </div>
    }
    <div class="div_inline_block info_log_partial_div">
    @if (ViewBag.action_name == "index")
    {
        @Html.ActionLink("Главная страница ресурса","Index","Home")
        @Html.Partial("_LoginPartial")
    }
    </div>
</div>

