/*----------------------------------------------------------------Messages----------------------------------------*/
     div.Messages_div_right{
         min-height:300px;
     }
     div.Messages_div_left{
         min-height:300px;
     }








     

     div.div_for_small_dialog_partial_right{
         position:fixed;
         height:40px;
         width:300px;
         background-color:white;
         top:100%;/*тут 100%*/
         left:735px;
         border-radius:10px;
         border:2px solid black;
         -webkit-transition:1s;
         -o-transition:1s;
         transition:1s;
     }