*, *:before, *:after {
    box-sizing: border-box;
}


body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color:#F8F8FF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
	select,
	textarea {
		width:100%;
		height: 100%;
        
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
textarea {
    max-width:100%;
        min-width:100%;
        min-height:20px;
}
	.link_standart_for_div {
		display: block; /* Ссылка как блочный элемент */
		text-align: center; /* Выравнивание по центру */
		height: 100%; /* Высота на весь слой */
		color: black; /* Цвет ссылки */
	}
    
	img {
		width: 100%;
		height: 100%;
	}
    div.div_image_standart{
width: 100%;
		height: 100%;
        /*background-size:100%;*/
        /*background-size: cover;
    background-repeat: no-repeat;
    background: no-repeat;*/
    }
	li {
		list-style-type: none; /* Убираем маркеры */
	}

	ul {
		margin:0;
		margin-left: 0; /* Отступ слева в браузере IE и Opera */
		padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
	}

	a{
        color:black;
        text-decoration:none;
	}
    a:hover{
         text-decoration:none;
    }

   


    .link_standart_for_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
}
    img {
    width: 100%;
    height: 100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.text-box {
    line-height: 30px;
    height: 30px;
    font-size: 14pt;
    width: 100%;
}
div.div_inline_block {
    display: inline-block;
    vertical-align: top;
}

div.div_paddin_5_px{
    padding:5px;
}
div.div_padding_top_10_px{
    padding-top:10px;
}
div.div_paddin_left_10_px{
    padding-left:10px;
}








    /*-----------------------------------------------------------------------------*/
    div.Main_preloader{
        position:fixed;
    width:100px;
    height:100px;
    /*left:48%;
    top:50px;*/
    display:none;
    background-image: url(/Content/images/preloader_cat.gif);
    background-size: 100% 100%;
    z-index:5;
    }


    div.Main_header_soc_all{
        background-color:#4d7198;
        border:2px solid black;
        height:55px;
    }


    div.main_header_login_p{
        float:right;
        border:2px solid black;
    }

    div.main_header_main_p_link{
        float:left;
        border:2px solid black;
        height:100%;
        min-width:200px;
        font-size:30pt;
    }

    div.main_div_body{
        /*margin-left:20%;*/
        width:750px;
        margin-left:210px;
        position:absolute;
    }
   
    div.main_div_body_all{
        position:relative;
        
        min-width:960px;
        width:100%;
        
    }
    div.main_div_body_layout{
        position:absolute;
        left:50%;
         margin-left:-480px;
        min-width:960px;
        top:25px;
        
    }

   

    div.div_color_white{
        background-color:white;
    }

    div.block_circle{
          border-radius:50%;
          height:100%;
          width:100%;
          overflow:hidden;
      }
     div.small_block_short_size_1{
         width:50px;
    height:70px;
     }
     div.small_block_img_short_size_1{
         width:50px;
    height:50px;
     }
     /*-----------------------------------------------------------------------------*/

    
     div.LeftMenuPersonalMain{
        /*height:200px;*/
        width:200px;
        border:2px solid black;
        position:absolute;
        
    }

     li.LeftMenuPersonal_one_line{
         white-space: nowrap;
         color: #285473;
             border-radius: 2px;
     }
     li.LeftMenuPersonal_one_line:hover{
         background: #e1e5eb;
     }

     div.LeftMenuPersonal_one_line_div{
         margin-left:0;
         text-align:left;
         height:30px;
         font-size:13pt;
     }
     ul.LeftMenuPersonalMain_main_ul{
         margin-left:5px;
         margin-top:5px;
     }

     div.LeftMenuPersonal_my_page{
         width:19px;
         height:19px;
         /*background-position: 0px -917px;*/
         background: url(/Content/images/menu_icon.png ) no-repeat 0px 4px;
         overflow:hidden;
     }
     div.LeftMenuPersonal_messages{
         width:19px;
         height:19px;
         background: url(/Content/images/menu_icon.png ) no-repeat 0px -22px;
         overflow:hidden;
     }
     div.LeftMenuPersonal_friends{
         width:19px;
         height:19px;
         background: url(/Content/images/menu_icon.png ) no-repeat 0px -79px;
         overflow:hidden;
     }
     div.LeftMenuPersonal_groups{
         width:19px;
         height:19px;
         background: url(/Content/images/menu_icon.png ) no-repeat 0px -107px;
         overflow:hidden;
     }
      /*-----------------------------------------------------------------------------*/

      div.small_img_circle_size_1{
          height:85px;
          width:70px;
          border:1px solid black;
      }
      div.small_img_circle_size_2{
          height:105px;
          width:90px;
          border:1px solid black;
      }
      

      div.one_album_short_block{
          
          width:208px;
          height:150px;
          
          border-radius:15px;
          overflow:hidden;
      }

      div.one_album_short_name{
          margin-top:-20px;
      }

       div.one_image_small_block{
           width:120px;
           height:120px;
    }

       div.div_img_creator_meme{
           width:70px;
           height:70px;
       }
       div.ImageRecord_left_block{
           width:600px;
           height:300px;
           border:1px solid black;
       }
       div.ImageRecord_right_block{
           width:360px;
           height:300px;
           border:1px solid black;
       }

       /*div.div_like_button{

       }
       div.div_comment_button{

       }
       div.div_ripost_button{

       }*/
       div.Record_likes_block:hover {
           cursor:pointer;
       }
       div.Record_comment_block{
           cursor:pointer;
           margin-left:20px;
       }
       div.Record_ripost_block{
           cursor:pointer;
           margin-left:20px;
       }

       div.Record_like_block_img_not_active{
           width:25px;
           height:25px;
            background-image: url(/Content/images/Heart.svg);
       }
       div.Record_like_block_img_active{
           width:25px;
           height:25px;
            background-image: url(/Content/images/HeartRed.svg);
       }
       div.Record_like_block_img{
          
           opacity:0.7;
       }
div.Record_like_block_img:hover {
    opacity:1;
}
div.Record_comment_block_img{
    width:25px;
           height:25px;
 background-image: url(/Content/images/comments.svg);
           opacity:0.7;
}
div.Record_comment_block_img:hover {
    opacity:1;
}
div.Record_ripost_block_img{
    width:25px;
           height:25px;
 background-image: url(/Content/images/ripost.svg);
           opacity:0.7;
}
div.Record_ripost_block_img:hover {
    opacity:1;
}

div.div_meme_name_date{
    max-width:400px;
}


div.meme_one_image{
    height:300px;
    width:488px;
}

      /*--------PERSON---------NEED--NEW-FILE----------------------------------------------------------*/
     div.PersonalRecord_left{
         width:230px;
         border:1px solid black;
     }
     div.PersonalRecord_right{
         width:510px;
         border:1px solid black;
         margin-left:5px;
     }

     div.PersonalRecord_main_img_div{
         width:100%;
         height:300px;
         border:1px solid black;
         padding:10px;
     }
     div.PersonalRecord_main_img_d{
         width:100%;
         height:100%;
     }

    


     /*-------GROUP----------NEED--NEW-FILE----------------------------------------------------------*/
     div.GroupRecord_left{
          width:510px;
         border:1px solid black;
         
     }
     div.GroupRecord_right{
          width:230px;
         border:1px solid black;
         margin-left:5px;
     }
     div.GroupRecord_main_img_div{
 width:100%;
         height:300px;
         border:1px solid black;
         padding:10px;
     }