@model server_info_web_desk.Models.ViewModel.GroupsListView

@{
    ViewBag.Title = "Groups";
}

<div>
    <div>

    </div>
    <div>
        @using (Html.BeginForm("GroupCreate", "SocialNetwork"))
        {
            @Html.Editor("Name")
            <input type="submit" value="Создать группу"/>
        }
    </div>

</div>

