
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>HELLO THIS INDEX  SocialNetworkController, MEYBE UR NOT LOGGINED</h1>

<script>

    jQuery(document).ready(function () {
        $("#commentForm").submit(function () { return false; });

        $("#button").on("click", function () {

            
                $(".submit").replaceWith("<div class='form_dscr'><p class='sending'>Отправка...</p></div>");
            //получаем форму
                var form = document.forms.commentForm;

                var formData = new FormData(form);

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/SocialNetwork/AddMemePerson");

                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4) {
                        if (xhr.status == 200) {
                            //при возврате actionresult и тд, вернет -"<html>"
                            data = xhr.responseText;
                            
                        }
                    }
                };

                xhr.send(formData);


            
        });
    });



</script>



<form id="commentForm" class="form" method="post"  enctype="multipart/form-data">
    <fieldset>
        <input type="text" id="text" placeholder="text"  name="text">
        <input id="id_user" type="text" placeholder="id_user:"  name="id_user">
        
        <input id="uploadImage" type="file"  name="uploadImage">
        
    </fieldset>
    <input id="button" class="submit" type="submit" value="Отправить" name="submit">
</form>






