
@if (ViewBag.id != null)
{

    <div class="LeftMenuPersonalMain" >
        <p>@Html.ActionLink("Моя страница", "PersonalRecord", "SocialNetwork")</p>
        <p>@Html.ActionLink("Messages", "Messages", "SocialNetwork")</p>
        <p>@Html.ActionLink("Friends", "Friends", "SocialNetwork")</p>
        <p>@Html.ActionLink("Groups", "Groups", "SocialNetwork")</p>
        
       
        
        
        
        
    </div>



}
