

<div class="Main_header_soc_all">
    <div class="div_inline_block main_header_main_p_link">
        @Html.ActionLink("Главная","Index","Home",new { })
    </div>
    <div class="div_inline_block main_header_login_p">
        @Html.Partial("_LoginPartial")
    </div>
</div>
